        @font-face {
            font-family: 'LeagueGothic-Regular';
            src: local('LeagueGothic-Regular'), url('https://nomail.com.ua/files/woff/cad4b3591ecdfe89ecf86ff8ebcba6e8.woff') format('woff');
        }
        
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
        @font-face {
            font-family: 'Georgia-Italic';
            src: local('Georgia-Italic'), url('https://nomail.com.ua/files/woff/0372662349dbbe9cef14d732154cf7fb.woff') format('woff');
        }
        /* -----------------------------------------------------

                        END_FONTS

                        START_BODY

----------------------------------------------------- */
        
        body {
            overflow-x: hidden;
        }
        
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        .container {}
        /* -------------------START_HEADER------------------- */
        
        .header {
            min-height: 1319px;
            background-image: url(../images/bg.png);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 70px;
            margin: -472px 0 -1px 0;
        }
        
        .header__logo-menu {
            height: 218px;
            margin-top: 463px;
        }
        
        .header__box {
            max-width: 964px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            margin-top: -1px;
        }
        /* ----------------START_HEADER__LOGO---------------- */
        
        .header__logo {
            margin-left: -4px;
        }
        
        .header__logo a {
            text-decoration: none;
        }
        
        .logo__text {
            color: #ffffff;
            font-size: 48px;
            font-weight: 400;
            font-family: "LeagueGothic-Regular";
            filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));
        }
        
        .logo__text_purple {
            color: rgb(77, 55, 87);
        }
        /* ----------------START_MENU---------------- */
        
        .header_menu {
            margin-top: -6.3px;
        }
        
        menu.header_menu>nav.menu>a {
            margin-left: 37.6px;
        }
        
        .menu {}
        
        .menu .menu__link_active {
            border-bottom: 2px solid #edbfff;
        }
        
        .menu__link {
            color: #ffffff;
            font-size: 24px;
            font-weight: 400;
            text-decoration: none;
            font-family: "LeagueGothic-Regular";
            filter: drop-shadow(1px 1.732px 1px rgba(0, 0, 0, 0.4));
            padding: 0 5px;
        }
        
        .menu__link:hover {
            border-bottom: 2px solid #edbfff;
        }
        /* -------------------START_SLIDER------------------- */
        
        .slider {
            background-image: url(../images/overlay.png);
        }
        
        .slider__content {
            max-width: 960px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
        }
        
        .slider__content-coln {
            width: 54%;
            line-height: 24px;
            margin: 0 0 1px -3px;
            position: relative;
            animation-name: slider__content-coln;
            animation-duration: 4s;
            margin-top: 5px;
        }
        
        @keyframes slider__content-coln {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        .content-coln__title {
            color: #fefefe;
            font-size: 59px;
            line-height: 49px;
            font-weight: 400;
            font-family: "LeagueGothic-Regular";
            letter-spacing: -0.1px;
            filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));
            margin: -1px 0 0 2px;
            animation-name: slider__content-coln;
            animation-duration: 4s;
        }
        
        .content-coln__subtitle {
            color: rgb(237, 191, 255);
            font-size: 32px;
            line-height: 45px;
            font-weight: 400;
            font-family: "LeagueGothic-Regular";
            word-spacing: -0.3px;
            filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));
            animation-name: slider__content-coln;
            animation-duration: 6s;
            margin: -2px 0 0 2px;
        }
        
        .content-coln__text {
            color: white;
            font-size: 18px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 0.1px;
            filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));
            animation-name: slider__content-coln;
            animation-duration: 8s;
        }
        
        .coln__text_768 {
            display: none;
        }
        /* -------------------START_CONTENT_IMG------------------- */
        
        .slider__content-img {
            display: flex;
            margin: 0 78px 0 0;
            animation-name: slider__content-img;
            animation-duration: 4s;
        }
        
        @keyframes slider__content-img {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        .content-img__iphone-under img {
            margin: 61px 0 67px 0;
        }
        
        .content-img__iphone-active {
            height: 100%;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            margin: -17px 0 0 -52px;
            position: relative;
        }
        
        .content-img__iphone-over {}
        
        .phone-active__button-continue {
            height: 75px;
            width: 76px;
            background-image: url(../images/Shape\ 14.png);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 61px;
            margin-top: -28px;
            cursor: pointer;
            position: absolute;
        }
        
        .button-continue_shape {
            height: 52px;
            width: 52px;
            background-color: #cba5da;
            border: 1px solid white;
            border-radius: 25px;
            padding: 13px 12px 13px 17px;
            margin-top: 1px;
            opacity: 0.7;
        }
        
        .button-continue_shape:hover {
            opacity: 1;
        }
        
        .button-continue_click {
            width: 21px;
            height: 24px;
            background-color: transparent;
            border-top: 12px solid transparent;
            border-left: 20px solid white;
            border-bottom: 12px solid transparent;
        }
        /* ----------------START_HEADER_CROSSING---------------- */
        
        .header__navigation-content {
            margin-top: 93px;
        }
        
        .header__navigation {
            width: 66%;
            display: flex;
            justify-content: flex-end;
            margin: auto;
        }
        
        .navigation__item_active {
            height: 10px;
            width: 10px;
            background: linear-gradient(0deg, #d4d4d4 0%, #ffffff 100%);
            filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.8));
            border-radius: 50%;
            opacity: 1;
        }
        
        .navigation__item {
            height: 17px;
            width: 17px;
            max-width: 17px;
            background: rgba(0, 0, 0, .3);
            border-radius: 50%;
            margin-right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        
        .navigation__item_passive:hover {
            border: 3px solid rgba(255, 255, 255, 0.3);
            background-clip: content-box;
        }
        /* -----------------------------------------------------------

                         END_HEADER

                         START_ROW_ITEM

------------------------------------------------------------- */
        
        .row-item {
            background: rgb(79, 56, 90);
            display: flex;
            align-items: center;
            padding: 75px 0 67px 10px;
        }
        
        .items {
            max-width: 960px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }
        
        .item-more {
            width: 29.3%;
        }
        
        .item-header {
            display: flex;
        }
        
        .item__img-instrument {
            margin-top: 6px;
        }
        
        .item__img-instrument_position {
            margin: 8px 0 0 -1px;
        }
        
        .item__title {
            color: #ffffff;
            font-size: 30px;
            line-height: 20px;
            font-weight: 400;
            font-family: "LeagueGothic-Regular";
            letter-spacing: -0.1px;
            filter: drop-shadow(0.5px 0.866px 0px #0f1518);
            margin: 6px 0 16px 23px;
        }
        
        .item__text {
            color: #ffffff;
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            word-spacing: -0.8px;
            filter: drop-shadow(0.5px 0.866px 0px #0f1518);
            margin: -3px 0 0 54px;
        }
        
        .item__text_space {
            padding: 2px 0 0 2px;
        }
        
        .item__read-more {
            display: flex;
            justify-content: flex-end;
            margin: 16px 10px 0 0;
        }
        
        .item__read-more_space {
            margin-right: 5px;
            margin-top: 16px;
        }
        
        .item__read-more a {
            color: #ffffff;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            text-decoration: none;
            font-family: "League Gothic";
        }
        
        .item__read-more a:hover {
            color: #ffffff;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            text-decoration: none;
            font-family: "League Gothic";
            filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8));
        }
        
        .item__text__768 {
            display: none;
        }
        
        .item__text__320 {
            display: none;
        }
        /* -----------------------------------------------------------

                        END_ROW_ITEM

                        START_MAIN_CONTAINER

------------------------------------------------------------- */
        
        .main-container {
            background: rgb(249, 249, 249);
        }
        
        .main-container__box {
            max-width: 960px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: auto;
        }
        
        .main-container__box_position {
            padding-left: 22px;
        }
        
        .box__testimonial {
            height: 297px;
            width: 46%;
            background-image: url(../images/Layer\ 60.png);
            background-repeat: no-repeat;
            margin-right: 6%;
        }
        
        .box__testimonial__header {
            display: flex;
        }
        
        .box__testimonial__header img {
            margin: 18px 13px 0 -23px;
        }
        
        .box__testimonial__title {
            color: #454545;
            font-size: 30px;
            line-height: 24px;
            font-weight: 400;
            font-family: "LeagueGothic-Regular";
            filter: drop-shadow(0.5px 0.866px 0px #ffffff);
            margin-top: 32px;
        }
        
        .box__testimonial__title_pink {
            color: rgb(237, 191, 255);
        }
        
        .box__testimonial__text {
            color: #454545;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.1px;
            font-family: 'Open Sans', sans-serif;
            filter: drop-shadow(0.5px 0.866px 0px #ffffff);
            margin: 0 38px 0 40px;
        }
        
        .box__testimonial__text_768 {
            display: none;
        }
        
        .header__navigation_position {
            display: flex;
            justify-content: center;
            margin: 59px 0 0 75px;
        }
        
        .navigation__item_white {
            background: rgb(255, 255, 255);
        }
        
        .navigation__item_dark-grey {
            background: rgb(97, 97, 97);
        }
        
        .navigation__item_border {
            border: 1px solid #e6e6e6;
        }
        
        .navigation__item_border:hover {
            border: 3px solid rgba(97, 97, 97, 0.1);
        }
        /* ----------------START_BOX__RECENT-IPDATES---------------- */
        
        .box__recent-updates {
            height: 265px;
            width: 49%;
            margin: 131px -4px 0 0;
        }
        
        .box__recent-updates__title {
            color: #454545;
            font-size: 30px;
            line-height: 24px;
            font-weight: 400;
            font-family: "LeagueGothic-Regular";
            filter: drop-shadow(0.5px 0.866px 0px #ffffff);
        }
        
        .blogger-entry {
            display: flex;
            margin: 19px 0 0 1px;
        }
        
        .blogger-entry_position {
            margin: 14px 0 0 1px;
        }
        
        .blogger__photo img {
            height: 49px;
            width: 49px;
            border-radius: 50%;
            display: block;
            overflow: hidden;
            margin-right: 18px;
        }
        
        .blogger__title {
            color: #454545;
            font-size: 16px;
            line-height: 24px;
            font-weight: 800;
            letter-spacing: -0.5px;
            font-family: 'Open Sans', sans-serif;
            filter: drop-shadow(0.5px 0.866px 0px #ffffff);
            margin: 0 0 0 -1.1px;
        }
        
        .blogger__title_position {
            margin-left: -1px;
            margin-top: -1.5px;
        }
        
        .blogger-text {
            color: rgb(69, 69, 69);
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: -0.1px;
            filter: drop-shadow(0.5px 0.866px 0px #ffffff);
            margin-left: -2px;
        }
        
        .box__recent-updates__read-more-here {
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            font-family: "LeagueGothic-Regular";
            filter: drop-shadow(0.5px 0.866px 0px #ffffff);
            display: flex;
            justify-content: flex-end;
            margin: 20px 27px 0 0;
            cursor: pointer;
        }
        
        .box__recent-updates__read-more-here a {
            color: #454545;
            text-decoration: none;
        }
        
        .box__recent-updates__read-more-here_768 {
            display: none;
        }
        /* ----------------START_LINE-FLUID---------------- */
        
        .line-fluid {
            height: 1px;
            background: rgb(230, 230, 230);
            margin-top: 90px;
        }
        /* ----------------START_BOX_PARTNERS---------------- */
        
        .box-partners {
            width: 81.6%;
            display: inline-flex;
            justify-content: space-between;
            padding-left: 5px;
            margin: 23.5px auto;
        }
        
        .box-partners div {
            cursor: pointer;
            transition: 1s;
        }
        
        .partner-img:hover {
            transform: scale(1.1);
            transition: 1s;
        }
        
        .partner-img_space {
            /* margin-left: 19px; */
        }
        /* -----------------------------------------------------------
    
                        END_MAIN_CONTAINER                     

                        START_ROW_CONTAINER
    
    ---------------------------------------------------------- */
        
        .row-container {
            background: rgb(236, 236, 236);
        }
        
        .col-items {
            max-width: 960px;
            display: flex;
            justify-content: space-between;
            padding: 110px 0 92px 0;
            margin: auto;
        }
        
        .col-item {
            width: 31%;
            margin: -18px 0 0px 0;
        }
        
        .col-item__logo__new-categories_position {
            padding-left: 8px;
        }
        
        .col-item__logo {
            color: rgb(69, 69, 69);
            font-size: 30px;
            font-weight: 400;
            font-family: "LeagueGothic-Regular";
            filter: drop-shadow(0.5px 0.866px 0px #ffffff);
            margin: 1px 0 0 -1px;
        }
        
        .col-item__logo_position {
            margin: 5px 0 5px 5px;
        }
        
        .logo__text_black {
            color: rgb(69, 69, 69);
        }
        
        .logo__text_silver {
            color: rgb(185, 185, 185);
        }
        
        .logo__text_space {
            letter-spacing: -0.3px;
        }
        
        .col-item__copiright {
            color: #c5c5c5;
            font-size: 16px;
            line-height: 24px;
            font-style: italic;
            font-family: "Georgia-Italic";
            filter: drop-shadow(0.5px 0.866px 0px #ffffff);
            margin: 5px 0 7px -3px;
        }
        
        .col-item__text {
            color: #787878;
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 0.1px;
            word-spacing: 1.3px;
            filter: drop-shadow(0.5px 0.866px 0px #ffffff);
            margin-left: -1px;
        }
        
        .col-item__text_space {
            margin: 0 0 0 6px;
        }
        
        .col-item__text_768 {
            display: none;
        }
        
        .col-item__text_480 {
            display: none;
        }
        /* ----------------START_FOOTER---------------- */
        
        .footer-container {
            background-image: url(../images/bg\ copy.png);
            background-position: center center;
            padding: 39px 0 38px 0;
        }
        
        .footer-container__body {
            max-width: 960px;
            display: flex;
            justify-content: space-between;
            margin: auto;
        }
        
        .footer-menu {}
        
        .menu_size a {
            font-size: 20px;
        }
        
        .menu_space a {
            margin-right: 28.4px;
        }
        
        .menu__link_space {
            padding-right: 8px;
        }
        
        .menu_position {
            margin: 5px 0px 0px -6px;
        }
        
        .footer-copyright {
            color: #ffffff;
            font-size: 12px;
            line-height: 34px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            filter: drop-shadow(1px 1.732px 1px rgba(0, 0, 0, 0.4));
            letter-spacing: -0.3px;
            margin: 4px 0 0 0px;
        }
        
        .footer-copyright_extra-bold {
            font-weight: 900;
        }
        /* ----------------MEDIA_SCREEN---------------- */
        
        @media (min-width: 1200px) {
            .header__navigation {
                width: 35%;
                display: flex;
                justify-content: flex-end;
                margin: auto;
            }
            /*  */
            .header__navigation_position {
                margin-top: 70px;
            }
        }
        
        @media (min-width: 992px) and (max-width: 1199.98px) {
            .header__navigation {
                width: 55%;
                display: flex;
                justify-content: flex-end;
                margin: auto;
            }
            /*  */
            .header__navigation_position {
                margin-top: 70px;
            }
        }
        
        @media (min-width: 768px) and (max-width: 991.98px) {
            .header {
                margin-bottom: -49px;
            }
            .header__logo-menu {
                height: 184px;
            }
            .header__box {
                display: block;
            }
            .header__logo {
                margin: 1px 0 0 18px;
            }
            .header_menu {
                margin: 23px 0 0 -23px;
            }
            /* ----------------------------------------------
        
                            START_SLIDER
        
        ------------------------------------------------ */
            .slider__content {
                padding-bottom: 6px;
            }
            .slider__content-coln {
                margin: -8px 0 0 43px;
            }
            .content-coln__title {
                font-size: 47px;
                line-height: 48px;
            }
            .content-coln__subtitle {
                font-size: 22px;
                word-spacing: 0.8px;
                letter-spacing: 0.4px;
            }
            .coln__subtitle_768 {
                display: none;
            }
            .coln__text {
                display: none;
            }
            .coln__text_768 {
                display: block;
                width: 70%;
                font-size: 16px;
                line-height: 25px;
            }
            /* -------------slider__content-img--------------- */
            .slider__content-img {
                margin: -6px 52px 0 0px;
            }
            .header__navigation {
                width: 64.3%;
                margin-top: -57px;
            }
            /* ----------------------------------------------
        
                            START_ROW_ITEM
        
        ------------------------------------------------ */
            .row-item {
                margin-bottom: -4px;
            }
            .item-more {
                width: 28%;
                margin: -4px 0 0 20px;
            }
            .item-more_position {
                margin-right: 13px;
            }
            .item-header {
                margin-bottom: -11px;
            }
            .item__title {
                font-size: 24px;
                margin-top: 9px;
                margin-left: 22px;
            }
            .item__text__991 {
                display: none;
            }
            .item__text__768 {
                display: block;
            }
            .item__text__320 {
                display: none;
            }
            .item__read-more {
                margin-top: 5px;
                margin-right: 12px;
            }
            /* <!-- ----------------------------------------------
        
                        START_MAIN_CONTAINER
        
        --------------------------------- -------------------> */
            .box__testimonial {
                width: 42%;
                margin-left: 21px;
            }
            .box__testimonial__header img {
                height: 51px;
                margin-top: 19px;
            }
            .box__testimonial__title {
                font-size: 24px;
                margin-top: 30px;
            }
            .box__testimonial__title_pink {
                display: block;
            }
            .box__testimonial__text {
                display: none;
            }
            .box__testimonial__text_768 {
                width: 78%;
                display: block;
                line-height: 24px;
                margin-top: 10px;
            }
            /* -------------BOX_UPDATES--------------- */
            .box__recent-updates__title {
                margin-left: 8px;
                margin-top: 1px;
            }
            .blogger-entry {
                margin: 19px 0px 0 10px;
            }
            .blogger-text_768 {
                display: none;
            }
            .box__recent-updates__read-more-here_991 {
                display: none;
            }
            .box__recent-updates__read-more-here_768 {
                display: block;
                text-align: end;
                margin-top: 15px;
                margin-right: 30px;
            }
            .header__navigation_position {
                margin: 64px 0px 0 59px;
            }
            /* -------------MAIN_CONTAINER--------------- */
            .box-partners {
                width: 95%;
                margin-top: 26px;
            }
            /* -------------ROW_CONTAINER--------------- */
            .col-items {
                width: 95%;
            }
            .col-item {}
            .col-item_position {
                margin-right: -10px;
            }
            .logo__text_black {
                font-size: 25px;
                margin: 8px 0 7px -16px;
            }
            .col-item__logo {
                font-size: 24px;
                margin: 9px 0 0 17px;
            }
            .col-item__text {
                width: 93%;
                word-spacing: 0.1px;
            }
            .col-item__copiright_991 {
                display: none;
            }
            .col-item__span_768 {
                display: none;
            }
            .col-item__text_991 {
                display: none
            }
            .col-item__text_768 {
                display: block;
            }
            .col-item__text_space {
                word-spacing: -0.8px;
                margin: 8px 0 0 16px;
            }
            .col-item__text_480 {
                display: none;
            }
            /* -------------FOOTER--------------- */
            .footer-container {
                background-size: cover;
                padding-top: 39px;
                padding-bottom: 76px;
            }
            .menu_space a {
                margin: 0px 9px 0px 20px;
            }
            .footer-container__body,
            .footer-copyright {
                display: block;
            }
            .footer-copyright {
                display: flex;
                justify-content: flex-end;
                margin-right: 20px;
                margin-top: 24px;
                word-spacing: 4px;
            }
            .footer-copyright_space {
                word-spacing: 0.5px;
            }
        }
        
        @media (min-width: 480px) and (max-width: 767.98px) {
            .header {
                min-height: 1022px;
            }
            .header__box {
                display: block;
            }
            .header__logo-menu {
                height: 143px;
            }
            .logo__text {
                display: flex;
                justify-content: center;
                margin-right: -4px;
            }
            .header_menu {
                display: flex;
                justify-content: center;
            }
            menu.header_menu>nav.menu>a {
                display: block;
                text-align: center;
                margin: auto;
            }
            .menu__link_active-480 {
                border-bottom: 2px solid #edbfff;
                padding: 0 5px;
            }
            .menu .menu__link_active {
                border-bottom: none;
            }
            .menu .menu__link:hover,
            .menu .menu__link:focus {
                border-bottom: 2px solid #edbfff
            }
            .menu_box_480 {
                height: 50px;
                width: 246px;
                background-color: rgba(54, 41, 62, 0.9);
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
                border: 1px solid rgb(5, 17, 22);
                border-radius: 10px;
                display: inline-block;
                position: relative;
                z-index: 1;
                overflow: hidden;
                margin-top: 19px;
            }
            .menu_box_480 a {
                padding: 7.4px;
            }
            .menu_box_480:hover,
            .menu_box_480:focus {
                height: 100%;
            }
            .menu_box_480 a:hover,
            .menu_box_480 a:focus {
                background: rgba(36, 28, 42, 0.9);
            }
            /* ----------------------SLIDER-------------------- */
            .slider__content {
                min-height: 247px;
                height: 247px;
                display: flex;
                align-items: flex-start;
            }
            .slider__content-coln {
                margin-top: 89px;
            }
            .content-coln__title {
                font-size: 36px;
                margin-left: 43px;
            }
            .content-coln__subtitle {
                font-size: 18px;
                margin: -18px 0 0 43px;
            }
            .content-coln__text {
                display: none;
            }
            .coln__subtitle_480 {
                display: none;
            }
            /*  */
            .slider__content-img {
                margin: -68px -28px 0 0px;
            }
            .content-img__iphone-over {
                height: 66%;
            }
            .content-img__iphone-under img {
                height: 39%;
                margin-right: -24px;
                margin-top: 120px;
            }
            /*  */
            .phone-active__button-continue {
                margin: 15%;
                margin-top: -15px;
            }
            /*  */
            .header__navigation-content {
                width: 73.1%;
                margin: 21.5px 0 0 0;
            }
            /* ----------------------ROW_ITEM-------------------- */
            .row-item {
                padding-bottom: 50px;
            }
            .items {
                display: block;
            }
            .item-more {
                width: 92%;
                margin: -3px 20px 18px 20px;
            }
            .item__title {
                font-size: 24px;
                margin: 8px 0 0 21px;
            }
            .item__text {
                font-size: 16px;
                margin: -9px 0 0 54px;
                letter-spacing: 0.1px;
            }
            .item__text__320 {
                display: none;
            }
            .item__read-more {
                margin-top: 12px;
            }
            .item__read-more_space {
                margin: 13px 9px 0 0px;
            }
            /* ----------------------MAIN_CONTAINER-------------------- */
            .main-container {
                padding-bottom: 8px;
                padding-top: 70px;
            }
            .main-container__box {
                display: block;
            }
            .box__testimonial {
                width: 91%;
                background-size: cover;
                margin-left: 21px;
            }
            .box__testimonial__title {
                margin-top: 30px;
            }
            .box__testimonial__text {
                width: 84%;
                word-spacing: 1.1px;
                margin-top: 3px;
                margin-left: 39px;
            }
            .header__navigation_position {
                margin: 56px 0 0 68px;
            }
            /* */
            .box__recent-updates {
                width: 90%;
                margin: 67px 0 0 60px;
            }
            .blogger-entry_position {
                margin-top: 17px;
            }
            .blogger-text {
                word-spacing: 0.6px;
            }
            .blogger-text_768 {
                display: none;
            }
            .box__recent-updates__read-more-here_991 {
                display: none;
            }
            .box__recent-updates__read-more-here_768 {
                display: block;
                text-align: end;
                margin-right: 74px;
                margin-top: 17px;
            }
            /* ----------------------LINE_FLEID-------------------- */
            .line-fluid {
                margin-top: 87px;
            }
            /* ----------------------BOX_PARTNERS-------------------- */
            .main-container__box {}
            .box-partners {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
            .partner-img {
                width: 33%;
                display: flex;
                justify-content: center;
                margin: 12px auto;
            }
            /* ----------------------ROW_CONTAINER-------------------- */
            .col-items {
                display: block;
                padding-bottom: 32px;
            }
            .col-item {
                width: 92%;
                margin: 0 auto;
                margin-bottom: 55px;
            }
            .col-item__logo_position {
                margin-left: 0;
                padding: 0;
            }
            .col-item_size {
                font-size: 23px;
            }
            .logo__text_space {
                display: flex;
                justify-content: flex-start;
                margin-top: -35px;
            }
            .logo__text_size {
                font-size: 25px;
            }
            .col-item__copiright_991 {
                display: none;
            }
            .col-item__text {
                display: none;
            }
            .col-item__text_480 {
                display: block;
                margin-top: 7px;
                word-spacing: -0.4px;
            }
            /* ----------------------ROW_CONTAINER-------------------- */
            .footer-container {
                background-size: cover;
                padding-bottom: 74px;
            }
            .footer-container__body {
                display: block;
            }
            .footer-menu {
                width: 91%;
                margin: auto;
            }
            .menu_position {
                display: flex;
                justify-content: space-between;
            }
            .menu_space a {
                margin-right: 0;
            }
            /*  */
            .footer-copyright {
                letter-spacing: -0.1px;
                display: flex;
                justify-content: center;
                margin-top: 24px;
            }
        }
        
        @media (min-width: 320px) and (max-width: 479.98px) {
            .header {
                min-height: 989px;
            }
            .header__box {
                display: block;
            }
            .header__logo-menu {
                height: 143px;
            }
            .logo__text {
                display: flex;
                justify-content: center;
                margin-right: -4px;
            }
            .header_menu {
                display: flex;
                justify-content: center;
            }
            menu.header_menu>nav.menu>a {
                display: block;
                text-align: center;
                margin: auto;
            }
            .menu__link_active-480 {
                border-bottom: 2px solid #edbfff;
                padding: 0 5px;
            }
            .menu .menu__link_active {
                border-bottom: none;
            }
            .menu .menu__link:hover,
            .menu .menu__link:focus {
                border-bottom: 2px solid #edbfff
            }
            .menu_box_480 {
                height: 50px;
                background-color: rgba(54, 41, 62, 0.9);
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
                border: 1px solid rgb(5, 17, 22);
                border-radius: 10px;
                display: inline-block;
                position: relative;
                z-index: 1;
                overflow: hidden;
                margin-top: 23px;
            }
            .menu_box_480 a {
                padding: 7.4px;
            }
            .menu_box_480:hover,
            .menu_box_480:focus {
                height: 100%;
            }
            .menu_box_480 a:hover,
            .menu_box_480 a:focus {
                background: rgba(36, 28, 42, 0.9);
            }
            /* ----------------------SLIDER-------------------- */
            .slider {
                margin-top: 83px;
            }
            .slider__content {
                display: flex;
                justify-content: center;
            }
            .slider__content-coln {
                width: 100%;
                text-align: center;
            }
            .content-coln__title {
                font-size: 36px;
                margin-right: 6px;
            }
            .content-coln__subtitle {
                font-size: 18px;
                letter-spacing: 0.1px;
                margin: -17px 0 0 16px;
            }
            .content-coln__text {
                display: none;
            }
            .coln__subtitle_480 {
                display: none;
            }
            /*  */
            .slider__content-img {
                display: none;
            }
            /*  */
            .header__navigation-content {
                width: 80%;
                margin: 62.5px 0 0 0;
            }
            /* ----------------------ROW_ITEM-------------------- */
            .row-item {
                padding-bottom: 41px;
            }
            .items {
                display: block;
            }
            .item-more {
                width: 89%;
                margin: -10px 20px 17px 20px;
            }
            .item-more_position {
                margin: 2px 20px 24px 20px;
            }
            .item__title {
                font-size: 24px;
                margin: 8px 0 0 21px;
            }
            .item__text {
                font-size: 16px;
                margin: -9px 0 0 54px;
                letter-spacing: 0.1px;
            }
            .item__text__991 {
                display: none;
            }
            .item__text__768 {
                display: none;
            }
            .item__text__320 {
                display: block;
            }
            .item__read-more {
                margin-top: 12px;
            }
            .item__read-more_space {
                margin: 13px 9px 0 0px;
            }
            /* ----------------------MAIN_CONTAINER-------------------- */
            .main-container__box {
                display: block;
            }
            .box__testimonial {
                width: 91%;
                margin: 70px 0 0 21px;
            }
            .box__testimonial__header img {
                margin-top: 17px;
                margin-left: -22px;
            }
            .box__testimonial__title {
                margin: 24px 0px 0 -4px;
                font-size: 24px;
            }
            .box__testimonial__title_pink {
                color: rgb(237, 191, 255);
                display: block;
            }
            .box__testimonial__text {
                width: 65%;
                word-spacing: 1.4px;
                margin-top: 3px;
                margin-left: 39px;
            }
            .box__testimonial__text_320 {
                display: none;
            }
            /* NAVIGATION */
            .header__navigation_position {
                margin: 52px 0 0 55px;
            }
            /* BOX_UPDATES*/
            .box__recent-updates {
                width: 98%;
                margin: 66px 0 0 -2px;
            }
            .box__recent-updates__title {
                margin-bottom: 19px;
            }
            .blogger-entry {
                margin-top: 0;
                margin-bottom: 19px;
            }
            .blogger-entry_position {}
            .blogger__title_320 {
                display: none;
            }
            .blogger-text {
                word-spacing: 0.6px;
            }
            .blogger-text_768 {
                display: none;
            }
            .blogger-text_320 {
                display: none;
            }
            .box__recent-updates__read-more-here_991 {
                display: none;
            }
            .box__recent-updates__read-more-here_768 {
                display: block;
                text-align: end;
                margin-right: 16px;
                margin-top: -3px;
            }
            /* ----------------------LINE_FLEID-------------------- */
            .line-fluid {
                margin-top: 87px;
            }
            /* ----------------------BOX_PARTNERS-------------------- */
            .main-container__box {}
            .box-partners {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
            .partner-img {
                width: 50%;
                display: flex;
                justify-content: center;
                margin: 30px auto;
            }
            /* ----------------------ROW_CONTAINER-------------------- */
            .row-container {
                display: none;
            }
            /* ----------------------ROW_CONTAINER-------------------- */
            .footer-container {
                background-size: cover;
                padding: 7px 0 134px 6px;
            }
            .footer-container__body {
                display: block;
            }
            .footer-menu {
                width: 91%;
                margin: auto;
            }
            .menu_position {
                display: flex;
                justify-content: space-between;
            }
            .menu_space a {
                margin-right: 0;
            }
            /*  */
            .footer-copyright {
                letter-spacing: -0.1px;
                display: flex;
                justify-content: center;
                margin-top: 24px;
            }
            .footer-menu {
                display: none;
            }
        }
        
        @media (min-width: 0px) and (max-width: 320px) {
            body {
                display: none;
            }
        }